@media(max-width:768px){
    .top-div span{
        font-size: 2.5rem !important;
        font-family: Lobster,'Courier New', Courier, monospace;
    }
    .top-div h1{
        font-size: 1.5rem;
    }
    .header-flex{
        display: grid!important;
        grid-template-columns: 1fr 1fr!important;
        width: 100%!important;    
    }
    .header-flex .left-flex{
       align-self: center;
       justify-self: left;
       padding: 10px;
        font-size: medium;
    }
    .header-flex .right-flex a{
        font-size: small;
    }
    .header-flex .right-flex a:hover{
        font-size: small;
    }
    .footer{
        background-color: black;
    }
    .footer-flex p{
        display: none;
    }
    .about-div{
        display:grid;
        align-items: center;
        color: white;
        padding-top: 10%;
        grid-template-rows: .5fr 3fr;
        grid-template-columns: 1fr!important;
        background-color: rgb(32, 10, 10);
        height: 100%;
    }
    .abt-navigation{
        flex-direction: row !important;
        font-size: x-small;
        border-right: 0px !important;
        border-bottom: 5px solid yellow;
    }
    .abt-text{
        width: 100%;
        padding-left: 20px !important;
        font-size: smaller;
    }
    .abt-header{
        font-size: smaller;
    }
    .abt-header h1{
        padding-left: 15px;
        width: 200px;
        font-size:30px
    }
    .projects-main{
        padding: 10px !important;
        grid-template-columns: 1fr;
    }
    .projects-body{
        font-size: smaller;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;
    }
}
/* desktop*/
html,body{
    background-size: 100%;
    background-color: black;
    min-height: 100%;
    margin: 0px;
    font-family: Montserat;
}

.main{
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto 1fr auto ;
}
.main-content{
    min-height: 100vh;
    background-color: rgba(48, 6, 6, 0.8);
}

nav{
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    box-shadow: 0px 0px 10px 3px  rgba(0,0,0,0.4);
    height: 50px;
    width: 100%;
    position: fixed;
}
.footer{
    bottom:0;
    width: 100%;
}
.header-flex{
    display: grid;
    grid-template-columns: 2fr 8fr;
    width: 100%;   
    
}
.right-flex{
    justify-self: end;
    padding-right: 40px;
}
.right-flex a{
    padding-right: 20px;
}
.left-flex{
    justify-self: end;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.0rem;
}
.top-div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/christopher-gower-m_HRfLhgABo-unsplash.jpg');
    display: grid;
    grid-template-rows: 1fr;
    min-height: 100vh;
    position: fixed;
    min-width: 100%;
    overflow: scroll;
}
.landing-content{
    background-color: rgba(48, 6, 6, 0.8);
    align-self: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}
.main-subject{
    position: relative;
    top: 30%;
    margin-left: 7%;
    padding-left: 3%;
    border-left: 5px solid yellow;
}
.main-subject p{
    color: yellow !important;
    font-family: Lobster;
}
.top-div p{
    color: whitesmoke;
}
.top-icon{
    z-index: 100;
}
.top-icon a{
  color: whitesmoke;
  text-decoration: none;
   font-size: 1.5rem;
   padding: 5px;
   border: 1px solid rgba(0,0,0,1);
   background-color: rgba(0,0,0,0.6);
   border-radius:50px;
   margin: 5px;
   transition: font-size 0.5s;
}
.top-icon a:hover{
   font-size: 2.5rem;
}
.top-div h1{
    color: whitesmoke;
    margin: 0;
}
.animate{
    transition: 2s;
    -webkit-transition: 2s;
}

.animate::after{
    color:yellow;
    content: "";
    animation-name: skills ;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: linear;
    -webkit-transition: linear;
    -webkit-animation-name: skills;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes skills{
    0%{content: "SOFTWARE DEVELOPER";opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 0;}
    40%{content:"DESIGNER";opacity:1;}
    50%{opacity:0}
    60%{content:"NETWORK ADMINISTRATOR";opacity:1}
    80%{opacity:0}
    100%{content:"DATABASE MANAGER";opacity:1}
}
@keyframes skills {
    0%{content: "SOFTWARE DEVELOPER";opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 0;}
    40%{content:"DESIGNER";opacity:1;}
    50%{opacity:0}
    60%{content:"NETWORK ADMINISTRATOR";opacity:1}
    80%{opacity:0}
    100%{content:"DATABASE MANAGER";opacity:1}
}

.top-div span{
    font-size: 3.5rem;
    font-family: Lobster;
}
.top-div p{
    font-size: 1.5rem;
}
.cv-btn{
    position: relative;
   font-size: 1.5rem;
   top: 33%;
   margin-left: 10%;
   border: 0px solid rgba(48, 6, 6, 0.8);
   width: fit-content;
   padding: 5px 10px;
   box-shadow: 0px 0px 20px 10px  rgba(0,0,0,0.4);
}
.cv-btn a{
    text-decoration: none;
    color: whitesmoke;
}

.about-div{
    z-index: 2;
    display:grid;
    align-items: center;
    color: white;
    grid-template-columns: .5fr 2fr;
    background-color: rgb(32, 10, 10);
    column-gap: 30px;
    min-height: 100vh;
    position: relative;
    top: 100vh;
}
.abt-navigation{
    display: flex;
    flex-direction: column;
    border-right: 5px solid yellow;
}
.abt-navigation div{
    font-size: 2em;
    font-weight: bold;
    font-family: Lobster;
    padding: 10px;
    cursor: pointer;
    
}
.abt-text{
    padding-left: 100px ;
    width: 80%;
}
.footer{
    position: relative;
    top: 100vh;
}
.footer-flex{
    background-color: black;
}
.footer-flex p{
    color: white;
    overflow-x: visible;
    font-size: 1rem;
    font-weight: 200;
    padding: 0;
    margin: 0;
    animation-name: announce;
    animation-timing-function: linear;
    animation-duration: 25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes announce{
    0%{transform: translateX(1400px);}
    100%{transform: translateX(-1000px);}
}
.abt-text img{
    object-fit: scale-down;
    width: 150px;
    height: 150px;
    border-radius: 70px;
    margin-bottom: 30px;
}
.abt-header{
    display: grid;
    grid-template-columns: .5fr 1fr;
    animation-name: about;
    animation-timing-function: linear;
    animation-duration: 1s;
}
@keyframes about{
    0%{transform: translateX(-100px); opacity: 0;}
    100%{transform: translateX(0px);opacity: 1;}
}
.abt-header h1{
    justify-content: start;
    font-family: Lobster;
}
.approach{
    animation-name: approach;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
}
@keyframes approach{
    0%{transform: translateY(-50px); opacity: 0;}
    100%{transform: translateY(0px);opacity: 1;}
}
.technical{
    animation-name: technical;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
}
@keyframes technical{
    0%{transform: translateY(-50px); opacity: 0;}
    100%{transform: translateY(0px);opacity: 1;}
}
.personal{
    animation-name: personal;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 3s;
}
@keyframes personal{
    0%{transform: translateY(-50px); opacity: 0;}
    100%{transform: translateY(0px);opacity: 1;}
}
.projects-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:2fr 8fr;
    column-gap: 20px;
    height: 100%;
    padding:10%;
}
summary{
  outline: none;
  
  
}
.projects-head{
   align-self: center;
}
.projects-head h1{
    font-family: Lobster;
}
.projects-body{
    height: fit-content;
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 20px;
}

a{
    text-decoration: none;
    columns: white;
}
.hire{
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 30px;
    width: fit-content;
    padding: 10px;
}







