html,body{
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/arif-riyanto-G1N9kDHqBrQ-unsplash.jpg');
    min-height: 100%;
    margin: 0px;
    font-family: Montserat;
}
@media (max-width:768px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:.5rem auto ;
        justify-content: center;
    }
}
@media(max-width:768px){
    .top-div{
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        
    }
    .top-div div{
        height: 100vh;
        text-align: center;
        margin: 20% auto;
        overflow: visible;
    }
    .cv-btn{
      height: auto !important;
      margin-top: 0!important;
      padding: 0;
    }
    .header-flex{
        display: grid!important;
        grid-template-columns: 5fr 3fr!important;
        width: 100%!important; 
        
        
    }
    .header-flex .left-flex{
        margin-right: 40%;
    }
    .footer{
        display: none;
    }
}
.main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:2.5rem auto 1.5rem;
}
.main-content{
    overflow:auto;
}
.header{
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}
.footer{
    bottom:0;
    position: absolute;
    width: 100%;
}
.header-flex{
    display: grid;
    grid-template-columns: 2fr 8fr;
    width: 100%;   
    
}
.right-flex{
    justify-self: end;
    padding-right: 40px;
}
.right-flex a{
    padding-right: 20px;
}
.left-flex{
    justify-self: end;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.0rem;
}
.top-div{
    display: grid;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    overflow: visible;
}
.top-div div{
    align-self: center;
}
.top-div p{
    color: whitesmoke;
}
.top-icon{
    z-index: 100;
}
.top-icon a{
  color: whitesmoke;
  text-decoration: none;
   font-size: 1.5rem;
   padding: 5px;
   border: 1px solid rgba(0,0,0,1);
   background-color: rgba(0,0,0,0.6);
   border-radius:50px;
   margin: 5px;
   transition: font-size 0.5s;
}
.top-icon a:hover{
   font-size: 2.5rem;
}
.top-div h1{
    color: whitesmoke;
    margin: 0;
}
.animate{
    transition: 2s;
}
.animate::after{
    color:white;
    content: "";
    animation-name: skills;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transition: linear;
}
.top-div span{
    font-size: 3.5rem;
    font-family: cursive;
}
.top-div p{
    font-size: 1.5rem;
}
.cv-btn{
    border: 1px solid yellowgreen;
   width: 20%;
   margin: auto;
   border-radius: 20px;
   font-size: 1.5rem;
}
.cv-btn a{
    text-decoration: none;
    color: whitesmoke;
}
@keyframes skills {
    0%{content: "SOFTWARE DEVELOPER";opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 0;}
    40%{content:"DESIGNER";opacity:1;}
    50%{opacity:0}
    60%{content:"NETWORK ADMINISTRATOR";opacity:1}
    80%{opacity:0}
    100%{content:"DATABASE MANAGER";opacity:1}
}
.about-div{
    display:grid;
    align-items: center;
    color: white;
    grid-template-columns: 1.5fr 1fr;
    background-color: rgb(32, 10, 10);
    height: 100%;
}
.abt-text{
    padding-left: 20px;
}
.footer-flex{
    background-color: black;
}
.footer-flex p{
    color: white;
    overflow-x: visible;
    font-size: 1rem;
    font-weight: 200;
    padding: 0;
    margin: 0;
    animation-name: announce;
    animation-timing-function: linear;
    animation-duration: 25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes announce{
    0%{transform: translateX(1400px);}
    100%{transform: translateX(-1000px);}
}



